.invoice-status {
  list-style: inside;
  width: 110px;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  text-align: center;
  text-wrap: none;

  &-pending {
    background-color: $color-orange-light;
    color: $color-orange;
  }
  &-paid {
    background-color: $color-green-light;
    color: $color-green;
  }
  &-draft {
    background-color: lightgray;
    color: $color-black;
  }
}
