.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-dark {
  color: $color-dark;
}

.color-darker {
  color: $color-darker;
}

.color-dark-black {
  color: $color-dark-black;
}

.color-black {
  color: $color-black;
}

.color-light {
  color: $color-light;
}

.color-gray {
  color: $color-gray;
}

.color-blue {
  color: $color-blue;
}

.color-error {
  color: $color-error;
}

.color-gray-light {
  color: $color-gray-light;
}

// Background colors
.color-light-bg {
  background-color: $color-light-bg;
}

.color-dark-bg {
  background-color: $color-dark-bg;
}

.bg-color-black {
  background-color: $color-black;
}

.bg-color-gray {
  background-color: $color-gray-light;
}

.bg-color-gray-lighter {
  background-color: $color-gray-lighter;
}
