$color-primary: #7c5dfa;
$color-secondary: #9277ff;
$color-dark: #1e2139;
$color-darker: #252945;
$color-light: #dfe3fa;
$color-gray: #888eb0;
$color-blue: #7e88c3;
$color-dark-black: #0c0e16;
$color-error: #ec5757;
$color-orange: #ff8f00;
$color-orange-light: #fff8f0;
$color-green: #33d69f;
$color-green-light: #f3fcf9;
$color-light-bg: #f8f8fb;
$color-dark-bg: #141625;
$color-black: #373b53;
$color-gray-light: #858bb2;

$font-primary: 'League Spartan', sans-serif;

$heading-l-size: 36px;
$heading-l-line-height: 33px;
$heading-l-spacing: -1;

$heading-m-size: 24px;
$heading-m-line-height: 22px;
$heading-m-spacing: -0.75;

$heading-s-size: 17px;
$heading-s-line-height: 24px;
$heading-s-spacing: -0.25;

$heading-s-variant-size: 17px;
$heading-s-variant-line-height: 15px;
$heading-s-variant-spacing: -0.25;

$body-size: 16px;
$body-line-height: 18px;
$body-spacing: -0.1;

$body-variant-size: 16px;
$body-variant-line-height: 15px;
$body-variant-spacing: -0.25;
