@mixin button($bg-color, $color, $border-color, $hover-bg-color, $hover-color) {
    background-color: $bg-color;
    color: $color;
    border: 2px solid $border-color;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
      background-color: $hover-bg-color;
      color: $hover-color;
    }
  }
  
  @mixin input-styles {
    border: 2px solid $color-darker;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: $font-secondary;
    font-size: $body-size;
    color: $color-darker;
  
    &:focus {
      outline: none;
      border-color: $color-primary;
    }
  }
  