$color-primary: #7C5DFA;
$color-secondary: #9277FF;
$color-dark: #1E2139;
$color-darker: #252945;
$color-light: #DFE3FA;
$color-gray: #888EB0;
$color-blue: #7E88C3;
$color-black: #0C0E16;
$color-error: #EC5757;
$color-light-bg: #F8F8FB;
$color-dark-bg: #141625;

$font-primary: "League Spartan", sans-serif;

$heading-l-size: 36px;
$heading-l-line-height: 33px;
$heading-l-spacing: -1;

$heading-m-size: 24px;
$heading-m-line-height: 22px;
$heading-m-spacing: -0.75;

$heading-s-size: 15px;
$heading-s-line-height: 24px;
$heading-s-spacing: -0.25;

$heading-s-variant-size: 15px;
$heading-s-variant-line-height: 15px;
$heading-s-variant-spacing: -0.25;

$body-size: 13px;
$body-line-height: 18px;
$body-spacing: -0.1;

$body-variant-size: 13px;
$body-variant-line-height: 15px;
$body-variant-spacing: -0.25;
